.flashcard {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: 1rem;
}

.flashcard-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flashcard-flip .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
}

.flashcard-front {
    z-index: 2;
    transform: rotateY(0deg);
}

.flashcard-back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.backText {
    transform: rotateY(180deg); /* This rotates the text within the back side */
    transition: transform 0.6s; /* Optional: smooth rotation */
}
